<div class="header">
  <form class="searchContainer" ng-submit="searchMovie()">
    <input type="text" class="searchBar" ng-model="searchInput" placeholder="Find a Title" />
    <input type="submit" style="display:none">
    <img class="searchIcon" src="../../assets/search_icon.png" />
  </form>
  <img class="browserstreamLogo" src="../assets/logo.png" />
  <img class="filterButton" ng-click="openPrefs()" src="../assets/filter.png"/>
</div>
<div class="selectorBackground">
  <div class="selectorContainer">
    <div ng-repeat="provider in userSettings.providers" class="providerContainer" ng-click="provider.selected = !provider.selected; selectProvider();">
      <img ng-src="{{provider.imageSource}}" class="logo" />
    </div>
  </div>
  <div class="slidersContainer">
    <div ng-repeat="provider in userSettings.providers" class="sliderContainer" ng-click="provider.selected = !provider.selected; selectProvider();">
      <div class="slider">
        <div class="slideBlock" ng-class="provider.selected ? 'sliderSelected' : 'sliderDeselected'"></div>
      </div>
    </div>
  </div>
</div>
<div id="titlesContainer" class="titlesContainer" infinite-scroll='loadMoreTitles()' infinite-scroll-disabled='titleScroll.busy' infinite-scroll-use-document-bottom="true" infinite-scroll-distance='0.5' infinite-scroll-listen-for-event="itemsNotLongEnough">
  <div ng-repeat="title in titleScroll.items" class="imageContainer" ng-click="displaySummary(title)" ng-if="title.imdb_rating">
    <div ng-if="title.image_url">
      <span class="centerImageHelper"></span><img class="posterImage" ng-src="{{title.image_url}}" />
    </div>
    <div class="titleImageContainer" ng-if="!title.image_url">
      {{title.title_name}}
    </div>
  </div>
</div>
<div class="loadingData" ng-show='titleScroll.busy'>Loading</div>
<div ng-include="'/views/templates/titleModal.html'"></div>
<div ng-include="'/views/templates/filterOverlay.html'"></div>
