<div class="header">
  <img class="browserstreamLogo" src="../assets/logo.png" />
</div>
<div class="selectorBackground">
  <div class="selectorContainer">
    <div ng-repeat="provider in providers" class="providerContainer" ng-click="provider.selected = !provider.selected; selectProvider();">
      <img ng-src="{{provider.imageSource}}" class="logo" />
    </div>
  </div>
  <div class="slidersContainer">
    <div ng-repeat="provider in providers" class="sliderContainer" ng-click="provider.selected = !provider.selected; selectProvider();">
      <div class="slider">
        <div class="slideBlock" ng-class="provider.selected ? 'sliderSelected' : 'sliderDeselected'"></div>
      </div>
    </div>
  </div>
</div>
<div id="titlesContainer" class="titlesContainer" infinite-scroll='loadMoreTitles()' infinite-scroll-disabled='titleScroll.busy' infinite-scroll-container="body" infinite-scroll-distance='1' infinite-scroll-listen-for-event="itemsNotLongEnough">
  <div ng-repeat="title in titleScroll.items | orderBy:'-imdb_rating'" class="imageContainer" ng-click="displaySummary(title)">
    <span class="centerImageHelper"></span><img class="posterImage" ng-src="{{title.image_url}}" />
  </div>
</div>
<div ng-show='titleScroll.busy'>Loading data...</div>
<div ng-include="'/views/templates/titleModal.html'"></div>
