<div class="header">
  BrowserSTREAM
</div>
<div class="selectorContainer">
  <label class="selectorLabel"><input type="checkbox" class="selectorCheckbox" label="Netflix" checked/>Netflix</label>
  <label class="selectorLabel"><input type="checkbox" class="selectorCheckbox" label="Hulu"/>Hulu</label>
  <label class="selectorLabel"><input type="checkbox" class="selectorCheckbox" label="HBO GO"/>HBO GO</label>
  <label class="selectorLabel"><input type="checkbox" class="selectorCheckbox" label="Amazon Prime"/>Amazon Prime</label>
</div>
<div class="titlesContainer">
  <div ng-repeat="title in titles" class="imageContainer" ng-click="displaySummary(title.title_name)">
    <img src="{{title.image_url}}" />
  </div>
</div>
