head, body, html {
  margin: 0;
  padding: 0;
  font-family: Baskerville, Palatino, HelveticaNeue, Helvetica, Arial;
  background-color: #eee;
}
.image-container {
  text-align: center;
}
.header {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 48px;
  line-height: 80px;
  vertical-align: middle;
  height: 80px;
  background-color: rgba(205,227,249,1);
  color: rgb(255,0,0);
}
.selectorContainer {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  background-color: rgba(175,215,250,1);

}
.providerContainer {
  display: inline-block;
  margin: 0 5%;
}
.selectorLabel {
  display: inline-block;
}
.titlesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imageContainer {
  width: 300px;
  height: 453px;
  margin: 5px;
}
.descriptionModalOverlay {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.descriptionModal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */

}
