<div ng-if="showFilter" class="filterOverlayContainer" ng-click="savePrefs()">
</div>
<div class="filterContainer" ng-if="showFilter">
  <div class="filterArea">
    <h1 class="filterTitle">
      Streaming Filters
    </h1>
    <h2 class="filterCategory">
      Providers
    </h2>
    <div class="filterProviderContainer spaceAround">
      <div class="filterItem" ng-repeat="provider in userSettings.providers" ng-click="provider.selected = !provider.selected; changeTracking.changesMade = true">
        <div class="filterName">
          {{provider.name}}
        </div>
        <div class="sliderContainer fullWidth">
          <div class="slider">
            <div class="slideBlock" ng-class="provider.selected ? 'sliderSelected' : 'sliderDeselected'"></div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="filterCategory">
      Type of Content
    </h2>
    <div class="filterProviderContainer centerContent">
      <div class="filterItem buffer" ng-repeat="titleType in userSettings.titleType" ng-click="titleType.selected = !titleType.selected; changeTracking.changesMade = true">
        <div class="filterName">
          {{titleType.name}}
        </div>
        <div class="sliderContainer fullWidth">
          <div class="slider">
            <div class="slideBlock" ng-class="titleType.selected ? 'sliderSelected' : 'sliderDeselected'"></div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="filterCategory">
      Filter By
    </h2>
    <div class="filterProviderContainer centerContent">
      <div class="filterItem buffer" ng-repeat="sort in userSettings.sortList" ng-click="userSettings.sortBy = sort; changeTracking.changesMade = true">
        <div class="filterName capitalize">
          {{sort}}
        </div>
        <div class="sliderContainer fullWidth">
          <div class="slider">
            <div class="slideBlock" ng-class="userSettings.sortBy === sort ? 'sliderSelected' : 'sliderDeselected'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
