<div ng-if="showFilter" class="filterOverlayContainer" ng-click="savePrefs()">
</div>
<div class="filterContainer" ng-if="showFilter">
  <div class="filterArea">
    <h1 class="filterTitle">
      Streaming Filters
    </h1>
    <h2 class="filterCategory">
      Providers
    </h1>
    <div class="filterProviderContainer">
      <div class="providerSelector" ng-class="provider.selected ? 'selectorSelected' : 'selectorDeselected'" ng-repeat="provider in userSettings.providers" ng-click="provider.selected = !provider.selected;">
        {{provider.name}}
      </div>
    </div>
    <h2 class="filterCategory">
      Type of Content
    </h2>
    <div class="filterProviderContainer">
      <div class="providerSelector" ng-class="titleType.selected ? 'selectorSelected' : 'selectorDeselected'" ng-repeat="titleType in userSettings.titleType" ng-click="titleType.selected = !titleType.selected;">
        {{titleType.name}}
      </div>
    </div>
  </div>
</div>
