<div class="header">
  <div class="topHeader">
    <div class="logoContainer">
      <a href="/"><img class="browserstreamLogo" src="../assets/logo.png" /></a>
    </div>
    <div class="floatContainer">
      <form class="searchContainer" ng-submit="searchMovie()">
        <input type="text" class="searchBar" ng-model="search.searchInput" placeholder="Find a Title" />
        <input type="submit" style="display:none">
        <div class="searchIconContainer">
          <img class="searchIcon" src="../../assets/search_icon.png" ng-click="searchMovie()"/>
        </div>
      </form>
    </div>
  </div>
  <div class="filterHeader" ng-if="!hideFilter">
    <div class="optionContainer" ng-click="openFilter('genres')">
      <span class="optionName">Genres</span>
      <img class="optionArrow" src="../../assets/downArrow.png"/>
    </div>
    <div class="optionContainer" ng-click="openFilter('titleType')">
      <span class="optionName">Content Types</span>
      <img class="optionArrow" src="../../assets/downArrow.png"/>
    </div>
    <div class="optionContainer" ng-click="openFilter('sortBy')">
      <span class="optionName">Sort By</span>
      <img class="optionArrow" src="../../assets/downArrow.png"/>
    </div>
  </div>
  <div class="filterOverlayContainer" ng-if="showPrefs">
    <div class="filterOverlay" ng-click="savePrefs()" ></div>
    <div class="filterWindow" ng-class="filterName">
      <div class="filterCategory capitalize">
        {{headerProperName}}
      </div>
      <div ng-if="filterName === 'genres'" class="filterItem buffer" ng-click="flipAllOnOff('genres', filterOptionsCount === activeFilterCount); changeTracking.changesMade = true">
        <div class="leftContainer">
          <div class="filterName capitalize">
            All On/Off
          </div>
        </div>
        <div class="rightContainer">
          <div class="sliderContainer floatRight">
            <div class="slider">
              <div class="slideBlock" ng-class="filterOptionsCount === activeFilterCount ? 'sliderSelected' : 'sliderDeselected'"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="filterName === 'sortBy'">
        <div class="filterItem buffer" ng-repeat="sort in userSettings.sortList" ng-click="userSettings.sortBy = sort; changeTracking.changesMade = true">
          <div class="leftContainer">
            <div class="filterName capitalize">
              {{sort}}
            </div>
          </div>
          <div class="rightContainer">
            <div class="sliderContainer floatRight">
              <div class="slider">
                <div class="slideBlock" ng-class="userSettings.sortBy === sort ? 'sliderSelected' : 'sliderDeselected'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="filterName !== 'sortBy'" class="filterItem buffer" ng-repeat="filterItem in filter" ng-click="flipFilter(filterItem); changeTracking.changesMade = true">
        <div class="leftContainer">
          <div class="filterName capitalize">
            {{filterItem.name}}
          </div>
        </div>
        <div class="rightContainer">
          <div class="sliderContainer floatRight">
            <div class="slider">
              <div class="slideBlock" ng-class="filterItem.selected ? 'sliderSelected' : 'sliderDeselected'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
