<div class="descriptionModalOverlay" ng-if="displayModal" ng-click="hideModal()">
  <div class="descriptionModal" ng-click="clickModal($event)">
    <div class="modalTopInfo">
      <div class="modalXBox" ng-click="hideModal()"><span class="close rounded black"></span></div>
      <div class="modalImageContainer">
        <div class="modalImage" background-image="{{selectedTitleObject.image_url}}"></div>
      </div>
      <h1 class="modalTitle">
        {{selectedTitleObject.title_name}}
      </h1>
      <h4 class="subheader">
        ({{additionalTitleInfo.year}})
      </h4>
      <h2 class="modalDirector">
        Directed By: {{additionalTitleInfo.director}}
      </h2>
      <p class="modalParagraph">
        {{additionalTitleInfo.plot}}
      </p>
      <p class="modalParagraph">
        Genre: {{additionalTitleInfo.genre}}
      </p>
      <p class="modalAvailableOn">
        Available On:
      </p>
      <div class="paddingBottom"></div>
    </div>
    <div class="modalBottomInfo">
      <div class="iconContainer">
        <div class="providerIcon" ng-click="clickModal($event, provider);" ng-class="provider" ng-repeat="provider in selectedTitleObject.providers_names">
          <img class="iconLogo" ng-class="provider" ng-src="../../assets/{{provider}}.png" />
        </div>
      </div>
      <h1 class="moreInfo">
        More Info:
      </h1>
      <p class="modalParagraph">
        IMDB Rating: {{selectedTitleObject.imdb_rating}}
      </p>
    </div>
  </div>
</div>
